* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
}

:root {
    --color_fff: #fff;
    --color_C90000: #C90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
}

.text_danger {
    color: var(--color_C90000);
}

img {
    width: 100%;
}


.main_header {
    margin-top: 1rem;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.navgation {
    display: grid;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navgation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navgation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navgation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.navgation ul li a {

    font-weight: 500;
}

.link-navgation a {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

}

.link-navgation a:first-child {
    color: var(--color_C90000);
    font-weight: 400;

}

.link-navgation a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

.nav_menu_sidbar {
    position: fixed;
    left: 0;
    flex-direction: column;
    top: 0;
    background-color: var(--color_fff);
    padding: 1rem;
    border-right: 2px solid var(--color_504F4F);
    height: 100%;
    width: 200px;
    transform: translateX(-345px);
    -webkit-transform: translateX(-345px);
    -moz-transform: translateX(-345px);
    -ms-transform: translateX(-345px);
    -o-transform: translateX(-345px);
    transition: all 500ms ease-in;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
}

#input_menu:checked+label+ul {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

#close_icon {
    display: none;
    color: var(--color_504F4F);
}

#input_menu:checked+label #close_icon {
    display: block;
}

#input_menu:checked+label svg:first-child {
    display: none;
}

/* header-bottom */
.header-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-right-header-bottom {

    align-self: center;
    width: 86%;

}

.content-left-header-bottom {
    position: relative;
}

.content-right-header-bottom h1 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
}

.content-right-header-bottom p {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 70%;
}

.order-food {
    margin-top: 1.5rem;
}

.text-price-order-food {
    margin-bottom: 1rem;
}

.text-price-order-food span:first-child {
    font-size: 16px;
    font-weight: 300px;

}

.text-price-order-food span:last-child {
    font-size: 24px;
    font-weight: 500px;

}

.order-action {

    display: flex;
    justify-content: space-between;
    max-width: 70%;

}

.button-action-order {
    max-width: 41%;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid rgba(241, 241, 241, 0.70);
    background: #FFF;
    box-shadow: 0px 10px 17px 0px rgba(112, 144, 176, 0.20);
    padding: 8px 16px;


    max-width: 41%;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_rgb_241);
    background-color: var(--color_fff);
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0 10px 17px 0 var(--color_rgb_122_144_176);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

}

.button-action-order button {
    background-color: transparent;
    border: none;
}

.button-action-order span {
    font-size: 20px;
    font-weight: 500;
    color: #FFC300;
}

.button-action-order span::before,
span::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: var(--color_F1F1F1);
}

.button-action-order span::before {
    margin-right: 12px;
}

.button-action-order span::after {
    margin-left: 12px;
}

.order-action>button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 100px;
    background: var(--color_FFC300);
    box-shadow: 0px 20px 20px 0px rgba(112, 144, 176, 0.20);
    padding: 16px 24px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color_323232);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.order-action>button svg {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.fixed-box-delivery {
    position: absolute;
    left: -6rem;
    top: 5rem;
    padding: 12px;
    text-align: center;
    border-radius: 50px 50px 0px 50px;
    border: 1px solid var(--color_F1F1F1);
    background: rgba(241, 241, 241, 0.40);
    font-size: 16px;
    color: var(--color_7D7C7C);
    -webkit-border-radius: 50px 50px 0px 50px;
    -moz-border-radius: 50px 50px 0px 50px;
    -ms-border-radius: 50px 50px 0px 50px;
    -o-border-radius: 50px 50px 0px 50px;
}

.fixed-box-delivery>span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--color_323232);
}




@media (max-width:1167px) {
    .order-action {
        justify-content: start;
        max-width: 100%;
    }
}

@media (max-width:882px) {
    .fixed-box-delivery {
        top: -1.5rem;

    }

    .header-bottom {
        margin-top: 3rem;
    }
}

@media (min-width:835px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width:834px) {
    .navgation {
        grid-template-columns: repeat(3, auto);
    }

    .link-navgation {
        justify-self: center;
    }

    .navgation>ul {
        display: none;
    }

    .menu-icon {
        justify-self: flex-end;

    }

    .content-right-header-bottom {

        align-self: center;
        width: 90%;

    }
    .content-right-header-bottom h1{
        font-size: 34px;
        line-height:50px;

    }
    .content-right-header-bottom p{
        line-height: 22px;
    }
    .fixed-box-delivery{
        padding: 10px;
        font-size: 13px;
        top: -19px;
    }
    .fixed-box-delivery > span{
        font-size: 18px;
    }
    .order-action{
        align-items: center;
    }
    .order-action > button{
        height: 50px;
        padding: 15px;
        font-size: 19px;
    }
    .button-action-order{
        gap:10px
    }

}


@media (max-width:648px) {
    .header-bottom {
       
        grid-template-columns: repeat(1, 1fr);
        
    }
    .content-right-header-bottom{
        width: 100%;
        text-align: center;
    }
    .content-right-header-bottom h1{
        font-size: 46px;
    }
    
    .content-right-header-bottom p{
        
        max-width:100%;
        font-size: 18px;
        margin-top: 12px;

    }
    .order-action{
        width: 100%;
        justify-content: center;
    }
    .fixed-box-delivery{
        position: fixed;
        width: 30%;
    }
    

    .order-food-desktop{
        display: none;
    }

    .order_food_mobile{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
}
@media (min-width:649){
    .order-food-mobile{
        display: none;
    }
}